body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8; 
  margin: 0;
  padding: 0;
}

#contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;   
    align-items: center;       
    gap: 20px;                
    padding: 20px;            
}

.tarjetas {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 8px;     
    background-color: #fff;   
    text-align: center;      
    width: 300px;
}